.backg-body{
    background-color: lightblue;
}
.Head-text{
    text-align: center;
}
.p-text{
    text-align: center;
    text-decoration: wavy;
    font-family: 'Monotype Corsiva', cursive;
    font-size: 14;
}